/* PROPER THEMING */

:root {
  --slide-bar-color: var(--blue-color--dark);
  --slide-color: inherit;
  --slides-background-color: transparent;
  --slides__stage_before--top: 0.9rem;
  --slides__stage_after--bottom: 1rem;
  --slides__stage_after--border--top: 0.5rem;
}

:root .slide--style-negative {
    --slide-bar-color: white;
    --slide-color: white;
    --slides-background-color: var(--blue-color--dark);
  }

.slide {
  color: inherit;
  color: var(--slide-color);

  --slide-letter-spacing-general: var(--letter-spacing--positive);
  letter-spacing: var(--slide-letter-spacing-general);
}

.slide--hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.slides__background {
  position: absolute;
  background-color: transparent;
  background-color: var(--slides-background-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slides__content > h2:first-child {
  margin-top: 0em;
  margin-bottom: 3.75em;
  font-size: 0.8rem;
}

/* 
style-image 
and
style-negative 
*/

.slide--style-image,
.slide--style-negative {
  --slide-letter-spacing-general: var(--letter-spacing--negative);
  --code-color-background: rgba(255, 255, 255, 0.2);
}

/* slide-title in blue-box */

.slide--style-image .slides__content > h2 {
  display: inline-block;
  color: white;
  background-color: rgba(255, 255, 255, 0.85);
  background-color: var(--blue-color--dark);
  padding: 0.2rem 0.6rem;
  -webkit-transform: translateY(
    calc(1.025rem - var(--slide-stage-padding-top))
  );
          transform: translateY(
    calc(1.025rem - var(--slide-stage-padding-top))
  );
  -webkit-transform: translateY(
    calc(0rem - var(--slide-stage-padding-top) + var(--slides__stage_before--top) + var(--slides__stage_after--border--top)/4)
  );
          transform: translateY(
    calc(0rem - var(--slide-stage-padding-top) + var(--slides__stage_before--top) + var(--slides__stage_after--border--top)/4)
  );
  line-height: 1;
  position: absolute;
  top: 0;
}

.slide--style-image footer {
  color: white;
  background-color: var(--blue-color--dark);
  display: inline-block;
  width: auto;
  padding: 0.2rem 0.6rem;
  padding-bottom: 0;
  margin-bottom: calc(1.25rem - var(--slide-stage-padding-bottom));
  margin-bottom: calc(0rem - var(--slide-stage-padding-bottom) + var(--slides__stage_after--bottom) + var(--slides__stage_after--border--top)/2);
  z-index: 9;
}

.slides__stage {
  --slide-stage-padding-left-right: 1rem;
  --slide-stage-padding-top: 1.5rem;
  --slide-stage-padding-bottom: 1.65rem;

  width: calc(1rem*(var(--slide-width)/var(--root--font-size)));
  height: calc(1rem*(var(--slide-height)/var(--root--font-size)));

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slides__stage:before,
.slides__stage:after {
  left: var(--slide-stage-padding-left-right);
  width: calc(100% - var(--slide-stage-padding-left-right)*2);
  content: "";
  display: block;
  border-top: 0.5rem solid
    var(--blue-color--dark);
  border-top: var(--slides__stage_after--border--top) solid
    var(--slide-bar-color);
  position: absolute;
}

.slides__stage:before {
  top: 0.9rem;
  top: var(--slides__stage_before--top);
}

.slides__stage:after {
  bottom: 1rem;
  bottom: var(--slides__stage_after--bottom);
}

.slides__stage-inner {
  width: calc(100% - var(--slide-stage-padding-left-right)*2);
  height: calc(100% - var(--slide-stage-padding-top) - var(--slide-stage-padding-bottom));

  padding: var(--slide-stage-padding-top) var(--slide-stage-padding-left-right)
    var(--slide-stage-padding-bottom) var(--slide-stage-padding-left-right);
}

.slides__content {
  height: 100%;
  position: relative;
}

.slides__background-iframe,
.slides__background-inner {
  width: 100%;
  height: 100%;
}

@media print {
  @page {
    size: calc(210mm/var(--slide-height)*var(--slide-width)) 210mm; /* fit to A4 */
    margin: 0;
  }

  .slide {
    position: relative;
    height: 100vh;
    aspect-ratio: var(--slide-width) / var(--slide-height);
    page-break-before: always;
  }

  .slides__stage {
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }

  .slide--hidden {
    opacity: 1;
  }

  .noPrint {
    display: none;
  }
}

