:root {
  --a-color: var(--cyan-color);

  .slide--style-negative {
    --a-color: var(--cyan-color--light);
  }
}

a {
  text-decoration: none;
  color: var(--a-color);
}

a:hover {
  color: inherit;
}

a[target="_blank"]:after {
  font-family: "Work Sans", sans-serif;
  content: " ↗";
  font-size: 75%;
}
