code {
  /* display: block; */
  font-family: "IBM Plex Mono", monospace;
  white-space: pre;
  font-size: 90%;
  line-height: 1.3;
  margin: 0;
}

/*  inline code */
:not(pre) > code {
  background-color: var(--gray-color);
  font-size: 80%;
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
  margin: 0;
}

code.code--background,
.code--background code {
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: var(--code-color-background);
}

.hljs-keyword,
.hljs-title.function_ {
  color: var(--blue-color);
}

.hljs-attr,
.hljs-attribute,
.hljs-meta-keyword {
  font-style: italic;
  color: var(--cyan-color);
}

.hljs-property,
.hljs-variable {
  color: var(--green-color);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: var(--gray-color--dark);
}

.hljs-name,
.hljs-meta,
.hljs-keyword {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: var(--green-color--dark);
}

.hljs-emphasis {
  font-style: italic;
}

:is(.language-html, .language-xml) .hljs-name {
  color: var(--blue-color);
}
:is(.language-html, .language-xml) .hljs-string {
  color: var(--green-color--dark);
}
