:root {
  --strong-color: var(--yellow-color--dark);
  --emphasis-color: var(--cyan-color);

  .slide--style-negative {
    --strong-color: var(--cyan-color--light);
    --emphasis-color: var(--yellow-color);
  }
}

em {
  font-style: normal;
  color: var(--emphasis-color);
  font-weight: 700;
}

strong {
  font-style: normal;
  font-weight: inherit;
  font-weight: 700;
  color: var(--strong-color);
}
