img,
video {
  display: block;
  height: 13rem;
  width: auto;
}

img.img--w100p,
.img--w100p img {
  width: 100%;
  height: auto;
}

.img--pixelate {
  image-rendering: pixelated;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.65em;
  margin-top: 0.5em;
}
