:root {
  --green-color: #006984; /* c: 100 m: 0 y: 20 k: 65 */
  --blue-color: #0054a2; /* c: 100 m: 70 y: 10 k: 52 */
  --green-color--dark: #004d61;
  --blue-color--dark: #002f5b;
  --cyan-color: rgb(25, 160, 202);
  --cyan-color--light: rgb(21, 186, 247);
  --gray-color: #e6e8ea;
  --brown-color: rgb(178, 112, 0);
  --red-color: #f00; /* c: 0 m: 100 y: 100 k: 0 */

  --yellow-color: #ff0;

  --letter-spacing--positive: 0;
  --letter-spacing--negative: 0.015em;

  /* theme colors */
  --emphasis-color: var(--cyan-color);
  --strong-color: var(--yellow-color);

  --a-color: var(--cyan-color);

  --h1-color: var(--blue-color--dark);
  --h2-color: var(--green-color--dark);
  --code-color-background: rgba(255, 255, 255, 0.2);
}

:root {
  font-family: "Work Sans", "Noto Emoji", sans-serif;

  --font-size: 32;
  --slide-width: 960;
  --slide-height: 700;

  font-size: min(
    calc(100vh / (var(--slide-height) / var(--font-size))),
    calc(100vw / (var(--slide-width) / var(--font-size)))
  );
  line-height: 1.5;
}

::selection {
  color: #fff;
  background: var(--red-color);
  text-shadow: none;
}
